html {
    position: relative;
    min-height: 100%;
  }

.center {
    align-items: center;
}

.project-image {
    height: 300px;
    object-fit: cover;
  }

.proj-btn {
    /* color: rgb(129, 44, 125); */
    font-size: large;
    font-family:'Yusei Magic', sans-serif;
}

.proj-card {
    margin-top: 20px;

}

.cool-font {
    font-family: 'Yusei Magic', sans-serif;
}

body {
    background-image: url('images/bg-image.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 0 100px;
    padding-bottom: 10%
}

#portfolio-card {
    background-image: url('images/bg-image.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* border: 2px solid black; */
    /* border-radius: 25px; */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
